body {
	background-color: #ddd;
}

#title {
	position: absolute;
	top: 0px;
	left: 20px;
	border-radius: 60px;
	width: 100%;
	text-align: center;
	background-color: #bbb;
}

#content {
	position: absolute;
	top: 35%;
	left: 20px;
	background-color: #bbb;
	width: 64%;
	border-radius: 40px;

}

#footer {
	position: fixed;
	text-align: center;
	bottom: 0px;
	width: 100%;
}
