body {
	background-color: #ddd;
}

#title {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 60px;
	width: 100%;
	text-align: center;
	background-color: #bbb;
}

#content {
	position: absolute;
	top: 20%;
	left: 0px;
	background-color: #bbb;
	width: 64%;
}

